// jinja shortcuts
{% set mobile = theme.options.navigation.mobile %}
{% set general = theme.options.general %}
{% set typography = theme.options.typography %}
{% set navigation = theme.options.navigation %}
{% set buttons = theme.options.button_styles %}
{% set forms = theme.options.form_styles %}
{% set footer = theme.options.footer %}
{% set menu_catering_settings = theme.options.menu_catering_settings %}
{% set misc = theme.options.misc %}
{% set flexible_content = theme.options.layout.flexible_content if theme.options.layout and theme.options.layout.flexible_content else {} %}
{% set custom_fonts = typography.customfonts %}


// special case: ustom self-hosted fonts...
{% if custom_fonts and custom_fonts|length > 0 %}
	{% with selfhosted = custom_fonts|selectattr("fonttype", "equalto", "selfhosted")|list %}
		// at a minimum the font-family has to exist to proceed...
		{% for item in selfhosted if item.selfhosted_name %}
			{% set src1 = [] %}
			{% set src2 = [] %}
			{% if item.selfhosted_eot %}
				{% do src1.append("url(\"" ~ item.selfhosted_eot ~ "\")") %}
				{% do src2.append("url(\"" ~ item.selfhosted_eot ~ "?#iefix\") format(\"embedded-opentype\")") %}
			{% endif %}
			{% if item.selfhosted_woff2 %}{% do src2.append("url(\"" ~ item.selfhosted_woff2 ~ "\") format(\"woff2\")") %}{% endif %}
			{% if item.selfhosted_woff %}{% do src2.append("url(\"" ~ item.selfhosted_woff ~ "\") format(\"woff\")") %}{% endif %}
			{% if item.selfhosted_ttf %}{% do src2.append("url(\"" ~ item.selfhosted_ttf ~ "\") format(\"truetype\")") %}{% endif %}
			{% if item.selfhosted_otf %}{% do src2.append("url(\"" ~ item.selfhosted_otf ~ "\") format(\"opentype\")") %}{% endif %}
			// at least one font file slot has to be populated to output anything...
			{% if src1|length > 0 or src2|length > 0 %}
				@font-face {
					font-family: "{{ item.selfhosted_name }}";
					{%- if src1|length > 0 %}src: {{ src1|join(", ") }};{% endif %}
					{%- if src2|length > 0 %}src: {{ src2|join(", ") }};{% endif %}
					{%- if item.selfhosted_style %}font-style: {{ item.selfhosted_style }};{% endif %}
					{%- if item.selfhosted_weight %}font-weight: {{ item.selfhosted_weight }};{% endif %}
				}
			{% endif %}
		{% endfor %}
	{% endwith %}
{% endif %}


// special cases: these variables require additional scss functions/mixins
{% if general.overlay_background_color %}
	$modal-backdrop-bg: rgb(red({{ general.overlay_background_color }}), green({{ general.overlay_background_color }}), blue({{ general.overlay_background_color }})) !default;
	$modal-backdrop-opacity: opacity({{ general.overlay_background_color }}) !default;
{% endif %}

// jinja parameters map (tuple):
// 		SCSS VARIABLE										THEME OPTION													WRAP AS STRING
// 		==================================================================================================================================
{% set settables = [
		("$site-logo-mobi-max-width",							mobile.logo_max_width,											false),
		("$site-logo-mobi-max-height",							mobile.logo_max_height,											false),
		("$site-logo-mobi-collapse-max-width",					mobile.logo_collapsed_max_width,								false),
		("$site-logo-mobi-collapse-max-height",					mobile.logo_collapsed_max_height,								false),

		("$brand-primary",										general.primary_color,											false),
		("$brand-accent",										general.accent_color,											false),

		("$body-bg",											general.background_color,										false),
		("$body-bg-image", 										general.background_image, 										true),
		("$site-is-boxed",										("true" if general.site_boxed else "false"),					false),
		("$site-boxed-bg-color", 								general.site_boxed_background_color,							false),
		("$site-boxed-bg-image",								general.site_boxed_background_image,							true),

		("$footer-hospitality-bg-image",						general.hospitality_background_image,							true),
		("$footer-hospitality-bg-color",						general.hospitality_background_color,							false),

		("$srcset_enabled",                    ("true" if general.srcset_enabled else "false"),        false),

		("$font-size-root",										typography.general.size,										false),
		("$body-font-weight",									typography.general.weight,										false),
		("$body-letter-spacing",								typography.general.letter_spacing,								false),
		("$line-height",										typography.general.line_height,									false),
		("$body-color",											typography.general.color,										false),

		("$font-size-h1",										typography.h1.size,												false),
		("$headings-h1-weight",									typography.h1.weight,											false),
		("$headings-h1-uppercase",								("uppercase" if typography.h1.uppercase else "none"),			false),
		("$headings-h1-letter-spacing",							typography.h1.letter_spacing,									false),
		("$headings-h1-color",									typography.h1.color,											false),

		("$font-size-h2",										typography.h2.size,												false),
		("$headings-h2-weight",									typography.h2.weight,											false),
		("$headings-h2-uppercase",								("uppercase" if typography.h2.uppercase else "none"),			false),
		("$headings-h2-letter-spacing",							typography.h2.letter_spacing,									false),
		("$headings-h2-color",									typography.h2.color,											false),

		("$font-size-h3",										typography.h3.size,												false),
		("$headings-h3-weight",									typography.h3.weight,											false),
		("$headings-h3-uppercase",								("uppercase" if typography.h3.uppercase else "none"),			false),
		("$headings-h3-letter-spacing",							typography.h3.letter_spacing,									false),
		("$headings-h3-color",									typography.h3.color,											false),

		("$link-color",											typography.links.color,											false),
		("$link-decoration",									("underline" if typography.links.underline else "none"), 		false),
		("$link-hover-color",									typography.links.hover_color,									false),
		("$link-hover-decoration",								("underline" if typography.links.hover_underline else "none"),  false),

		("$site-logo-desktop-is-centered",						("true" if navigation.logo.desktop_logo_centered else "false"),		false),
		("$site-logo-desktop-max-width", 						navigation.logo.desktop_logo_max_width,								false),
		("$site-logo-desktop-max-height", 						navigation.logo.desktop_logo_max_height,								false),
		("$site-logo-desktop-collapsed-max-width", 				navigation.logo.desktop_logo_collapsed_max_width,					false),
		("$site-logo-desktop-collapsed-max-height", 			navigation.logo.desktop_logo_collapsed_max_height,					false),

		("$site-header-bg-image", 								navigation.background_image,									true),
		("$site-header-bg-color", 								navigation.background_color,									false),
		("$site-header-use-shadow",								("true" if navigation.add_shadow else "false"),					false),

		("$site-nav-desktop-font-size",							navigation.size,												false),
		("$site-nav-font-weight",								navigation.weight,												false),
		("$site-nav-text-transform",							("uppercase" if navigation.uppercase else "none"),				false),
		("$site-nav-letter-spacing",							navigation.letter_spacing,										false),
		("$site-nav-btn-color",									navigation.color,												false),
		("$site-nav-btn-hover-color",							navigation.hover_color,											false),
		("$site-nav-btn-active-color",							navigation.active_color,										false),

		("$site-header-desktop-export-sticky-styles",						("true" if navigation.fixed_on_desktop else "false"),     false),
		("$site-header-desktop-primary-collapsed-nav-color",									navigation.sticky_header.color,												false),
		("$site-header-desktop-primary-collapsed-nav-hover-color",							navigation.sticky_header.hover_color,											false),
		("$site-header-desktop-primary-collapsed-nav-active-color",							navigation.sticky_header.active_color,										false),

		("$site-header-desktop-export-floatable-styles",		("true" if navigation.desktop_floatable else "false"),			false),
		("$site-header-desktop-primary-floatable-expanded-bg-color", 	navigation.desktop_floatable_expanded_bg_color, 		false),
		("$site-header-desktop-primary-floatable-collapsed-bg-color", 	navigation.desktop_floatable_collapsed_bg_color, 		false),

		("$site-header-desktop-secondary-bg-color", 			navigation.address.background_color,							false),
		("$site-header-desktop-secondary-bg-image", 			navigation.address.background_image,							true),
		("$site-header-desktop-secondary-location-color", 		navigation.address.font_color,									false),
		("$site-header-desktop-secondary-location-hover-color", navigation.address.font_hover_color,							false),

		("$site-header-border-color",							navigation.divider.color,										false),
		("$site-header-divider-width",							navigation.divider.weight,										false),
		("$site-header-divider-double",							("true" if navigation.divider.double else "false"),				false),

		("$btn-font-size",										buttons.main.font_size,											false),
		("$btn-primary-color",									buttons.main.font_color,										false),
		("$btn-font-weight",									buttons.main.font_weight,										false),
		("$btn-letter-spacing",									buttons.main.letter_spacing,									false),
		("$btn-text-transform",									("uppercase" if buttons.main.font_uppercase),					false),
		("$btn-primary-bg",										buttons.main.background_color,									false),
		("$btn-brand-border-color",								buttons.main.stroke_color,										false),
		("$btn-border-width",									buttons.main.stroke_weight,										false),
		("$btn-brand-active-color",								buttons.main.hover_font_color,									false),
		("$btn-brand-active-bg",								buttons.main.hover_background_color,							false),
		("$btn-brand-active-border-color",						buttons.main.hover_stroke_color,								false),

		("$btn-brand-alt-color",								buttons.alternate.font_color,									false),
		("$btn-brand-alt-bg-color",								buttons.alternate.background_color,								false),
		("$btn-brand-alt-border-color",							buttons.alternate.stroke_color,									false),
		("$btn-brand-alt-active-color",							buttons.alternate.hover_font_color,								false),
		("$btn-brand-alt-active-bg-color",						buttons.alternate.hover_background_color,						false),
		("$btn-brand-alt-active-border",						buttons.alternate.hover_stroke_color,							false),

		("$input-color",										forms.main.color,												false),
		("$input-border-color",									forms.main.field_stroke_color,									false),
		("$input-bg",											forms.main.field_background_color,								false),
		("$input-btn-border-width",								forms.main.field_stroke_weight,									false),
		("$input-text-transform",								("uppercase" if forms.main.uppercase),							false),

		("$form-alt-input-color",								forms.alternate.color,											false),
		("$form-alt-input-border-color",						forms.alternate.field_stroke_color, 							false),
		("$form-alt-input-bg",									forms.alternate.field_background_color,							false),
		("$form-alt-input-btn-border-width", 					forms.alternate.field_stroke_weight,							false),
		("$form-alt-input-text-transform",						("uppercase" if forms.alternate.uppercase),						false),

		("$site-footer-desktop-primary-bg-color", 				footer.background_color,										false),
		("$site-footer-desktop-primary-bg-image", 				footer.background_image,										true),

		("$site-footer-desktop-nav-font-size",					footer.nav.size,												false),
		("$site-footer-desktop-nav-font-weight",				footer.nav.weight,												false),
		("$site-footer-desktop-nav-text-transform",				("uppercase" if footer.nav.uppercase else "none"),				false),
		("$site-footer-desktop-nav-letter-spacing",				footer.nav.letter_spacing,										false),
		("$site-footer-desktop-nav-btn-color",					footer.nav.color,												false),
		("$site-footer-desktop-nav-btn-hover-color",			footer.nav.hover_color,											false),
		("$site-footer-desktop-nav-btn-active-color",			footer.nav.active_color,										false),

		("$site-powered-by-bg-color",							footer.credit.background_color,									false),
		("$site-powered-by-color",								footer.credit.text_color,											false),
		("$site-powered-by-active-color", 						footer.credit.text_hover_color, 									false),

		("$menu-item-price-use-currency", 						("true" if menu_catering_settings.menus_show_currency_symbol else "false"), 		false),

		("$catering-product-item-title-text-transform",			("uppercase" if menu_catering_settings.uppercase_title),				false),
		("$catering-product-item-bg-color",						menu_catering_settings.background_color,								false),
		("$catering-product-item-border-color",					menu_catering_settings.stroke_color,									false),
		("$catering-product-item-border-width",					menu_catering_settings.stroke_weight, 									false),

		("$content-split-bg-color",								flexible_content.split_overlay_background_color,							false),
		("$content-split-bg-image",								flexible_content.split_overlay_background_image,							true),
		("$content-split-column-min-height",					flexible_content.split_overlay_min_height,									false)
	]
%}

{#
	// Note: We do not want to completely erase these quite yet, so we are holding them here for the time being.

	// ("$social-accounts-color",					navigation.social.color,										false),
	// ("$social-accounts-active-color",			navigation.social.hover_color,									false),
	// ("$social-accounts-bg-color",				navigation.social.circle_color,									false),
	// ("$social-accounts-active-bg-color", 		navigation.social.hover_circle_color,							false),
#}



// jinja loop: assigns value to scss variable and optionally wraps as a string.
{%- for scss, value, stringify in settables %}
	{%- if value %}
		{{ scss }}: {{ value if not stringify else ("\"" ~ value|raw_image ~ "\"") }};
	{%- endif %}
{%- endfor %}


// We have to run our fonts separately so we can use our bb-get-font-stack() function. We are also using !default
// just in case our function returns null.


/// Base font family stack.
///
/// **Theme Option:** Type Styles > Body & General Text Styles > Font Family
///
/// @type String
$font-family-base: bb-get-font-stack("{{ typography.general.fontpreset }}"{% if typography.general.font %}, "{{ typography.general.font }}"{% endif %}) !default;

/// Base font family stack applied to `h1, .h1` headings and inherited by subheadings by default (h2-h6).
///
/// **Theme Option:** Type Styles > H1 Text Styles > Font Family
///
/// @type String
$headings-font-family: bb-get-font-stack("{{ typography.h1.fontpreset }}"{% if typography.h1.font %}, "{{ typography.h1.font }}"{% endif %}) !default;

/// Font family stack applied to `h2, .h2` headings.
///
/// **Theme Option:** Type Styles > H2 Text Styles > Font Family
///
/// @type String
$headings-h2-font-family: bb-get-font-stack("{{ typography.h2.fontpreset }}"{% if typography.h2.font %}, "{{ typography.h2.font }}"{% endif %}) !default;

/// Font family stack applied to `h3, .h3` headings.
///
/// **Theme Option:** Type Styles > H3 Text Styles > Font Family
///
/// @type String
$headings-h3-font-family: bb-get-font-stack("{{ typography.h3.fontpreset }}"{% if typography.h3.font %}, "{{ typography.h3.font }}"{% endif %}) !default;

// if h3 is set, we use that for the rest of our h4-h6...and the next check will be ignored.
/// Font family stack applied to all subheadings (h2-h6) by default and optionally overriden using the following logic...
///
/// - If `$headings-h3-font-family` is set, we use that for `h4-h6`.
/// - If `$headings-h2-font-family` is set, and `headings-h3-font-family` has not been set, use `$headings-h2-font-family` for `h3-h6`.
/// - If neither `$headings-h3-font-family` or `$headings-h2-font-family` have been set, use `$headings-font-family` for `h2-h6`.
///
/// @type String
$subheadings-font-family: if($headings-h3-font-family != null, $headings-h3-font-family, null) !default;
$subheadings-font-family: if($headings-h2-font-family != null, $headings-h2-font-family, null) !default;

/// Font family stack applied to site header navigation buttons.
///
/// **Theme Option:** Navigation > Font Family
///
/// @type String
$site-nav-font-family: bb-get-font-stack("{{ navigation.fontpreset }}"{% if navigation.font %}, "{{ navigation.font }}"{% endif %}) !default;

/// Font family stack applied to `.btn-brand` instances.
///
/// **Theme Option:** Button Styles > Main Styles > Font Family
///
/// @type String
$btn-brand-font-family: bb-get-font-stack("{{ buttons.main.fontpreset }}"{% if buttons.main.font %}, "{{ buttons.main.font }}"{% endif %}) !default;

/// Font family stack applied to site desktop footer navigation buttons.
///
/// **Theme Option:** Footer > Footer Navigation > Font Family
///
/// @type String
$site-footer-desktop-nav-font-family: bb-get-font-stack("{{ footer.nav.fontpreset }}"{% if footer.nav.font %}, "{{ footer.nav.font }}"{% endif %}) !default;


// jinja export theme options boostrap vars field
{{ misc.bootstrap_variable_overrides }}

