////
/// @group layouts-article
/// @access public
//// 

// ============================================================================================================
// =============== ARTICLE : VARS =============================================================================
// ============================================================================================================
/// Generic `margin-bottom` applied to various `.article` elements including header, figure, and galleries.
/// @type Number
$article-spacer-y: 2rem !default;

// ============================================================================================================
// =============== ARTICLE : EXPORT ===========================================================================
// ============================================================================================================
// Site structural elements.

@mixin bb-export-classes-article() {
	
	// Article is used for simple single page posts that have a header, image/figure, and body.
	.article {
		
		// immediate child
		& > header {
			margin-bottom: $article-spacer-y;

			// immediate last children
			& > h1:last-child,
			& > p:last-child {
				margin-bottom: 0;
			}
		}

		// immediate child: image container
		& > figure {
			margin-bottom: $article-spacer-y;

			// immediate child
			& > img {
				@include bb-size($width: 100%, $height: auto);
				display: block;
				margin: 0 auto;
			}
		}

		// child
		& .gallery {
			margin-bottom: $article-spacer-y;
		}
	}
}