////
/// @access public
/// @group mixins-popups
//// 

// ============================================================================================================
// =============== MIXINS : POPUPS ============================================================================
// ============================================================================================================

/// Creates a `.popup` variant. Although there are multiple different kinds of popups, this mixin styles the
/// common elements shared between them. 
/// @parameter {Color} $color [null] - The base font color.
/// @parameter {Color} $h1-color [null] - The `h1, .h1` font color.
/// @parameter {Color} $link-color [null] - The initial color of anchors.
/// @parameter {Color} $link-active-color [null] - The `:hover` color of anchors.
/// @parameter {Number} $max-width [$popup-max-width] - The max width to apply to the inner container.
/// @parameter {String} $text-align [$popup-text-align] - The text alignment of the popup. (left, right)
/// @parameter {Color} $bg-color [$popup-bg-color] - The background color to apply to the inner container.
/// @parameter {Number | Shorthand} $padding [$popup-inner-padding] - The padding to apply to the inner container.
@mixin bb-popup-variant(
		$color: null,
		$h1-color: null,
		$link-color: null,
		$link-active-color: null,
		$max-width: $popup-max-width,
		$text-align: $popup-text-align,
		$bg-color: $popup-bg-color,
		$padding: $popup-inner-padding
	){
	$size-type: type-of($max-width);
	
	color: $color; // if null, nothing will export.

	// child
	& h1, & .h1 {
		color: $h1-color; // if null, nothing will export.
	}

	// child: anchors - if parameters are null, nothing will export.
	@include bb-anchor-variant($color: $link-color, $active-color: $link-active-color);

	// If a string, it should match a key in $additional-containers variable.
	@if $size-type == "string" {
		@include make-container-max-widths(map-get($additional-containers, $max-width));
	}
	// If a number unit, go ahead and directly apply it!
	@else if $size-type == "number" {
		@include bb-size($max-width: $popup-alert-container-max-width);
	}

	text-align: $text-align;
	background-color: $bg-color;
	padding: $padding;
}