// ==========================================================================
// =============== CUSTOM OVERRIDES =========================================
// ==========================================================================
/*
	These will commonly be used to override styles set within Bower Components
	which are undesired.
*/

// ==========================================================================
/*
	INHERITABLE CLASSES
	===================
*/
$webkit-outline: auto 5px -webkit-focus-ring-color;
$non-webkit-outline: auto 3px Highlight;
%outline {
	outline: $non-webkit-outline;
	outline: $webkit-outline;
}

// ==========================================================================
/*
	BOOTSTRAP
	===================
*/

.form-control {
	&:focus {
		@extend %outline;
	}
}

//Target IE 8-11 (and old FireFox 1.x)
//https://browserstrangeness.bitbucket.io/css_hacks.html#webkit
_:-ms-input-placeholder,
:root .form-control:focus {
	outline: 3px solid #4d90fe;
}

//Target ONLY Safari 6.2,7.1+ browsers
//https://stackoverflow.com/questions/17324960/copy-chrome-default-inputs-outline-style
//attempt to make the focus indicator more visible in Safari for ADA purpose
_::-webkit-full-page-media,
_:future,
:root .form-control:focus {
	outline: 3px solid #4d90fe;
}

//Target Microsoft Edge 12+ (all MS Edge)
//attempt to make the focus indicator more visible in Safari for ADA purpose
_:-ms-lang(x),
_:-webkit-full-screen,
.form-control:focus {
	outline: 3px solid #4d90fe;
}

// This is no longer a bug in safari //
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"],
	input[type="time"],
	input[type="datetime-local"],
	input[type="month"] {
		&.form-control {
			line-height: inherit;
	  	}
  
	  	&.input-sm,
	  	.input-group-sm &.form-control {
			line-height: inherit;
	  	}
  
	  	&.input-lg,
	  	.input-group-lg &.form-control {
			line-height: inherit;
		}
	}
}

// ==========================================================================

//Target IE 8-11 (and old FireFox 1.x)
//https://browserstrangeness.bitbucket.io/css_hacks.html#webkit
_:-ms-input-placeholder {
	outline: 3px solid #4d90fe;
}

//Target ONLY Safari 6.2,7.1+ browsers
//https://stackoverflow.com/questions/17324960/copy-chrome-default-inputs-outline-style
//attempt to make the focus indicator more visible in Safari for ADA purpose
_::-webkit-full-page-media,
_:future {
	outline: 3px solid #4d90fe;
}

//Target Microsoft Edge 12+ (all MS Edge)
//attempt to make the focus indicator more visible in Safari for ADA purpose
_:-ms-lang(x),
_:-webkit-full-screen {
	outline: 3px solid #4d90fe;
}
