////
/// @group components-breadcrumb
/// @access public
//// 

// ============================================================================================================
// =============== ALERT : VARS ===============================================================================
// ============================================================================================================
/// Padding-bottom to apply to `.breadcrumb` sections – generally used for *Back to [section]* buttons.
/// @type Number
$breadcrumb-padding-bottom: 2rem !default;

// ============================================================================================================
// =============== ALERT : EXPORT =============================================================================
// ============================================================================================================

@mixin bb-export-classes-breadcrumb() {
	
	.breadcrumb {
		text-align: left;
		padding-bottom: $breadcrumb-padding-bottom;
	}
}