////
/// @group components-footer-hospitality
/// @access public
//// 

// ============================================================================================================
// =============== HOSPITALITY : VARS =========================================================================
// ============================================================================================================
/// Background color to apply to the hospitality footer.
/// 
/// **Theme Option:** General Style Settings > Display Hospitality Footer > Hospitality Background Color
/// 
/// @type Color
$footer-hospitality-bg-color: $site-header-bg-color !default;

/// Background image to apply to the hospitality footer.
/// 
/// **Theme Option:** General Style Settings > Display Hospitality Footer > Hospitality Background Image
/// 
/// @type String
$footer-hospitality-bg-image: null !default;

/// Explicit height to apply to the hospitality footer.
/// 
/// **IMPORTANT:** This value is used in calculations that rely on it being **PX units only**. Please provide
/// PX units only as entering any other unit types may have unexpected results or even potentially cause errors 
/// that results in the scss failing to load entirely.
/// 
/// @type Number - PX units only
$footer-hospitality-height-px: 80px !default;

/// Vertical padding to apply to the hospitality footer. This value is used together with 
/// `$footer-hospitality-height-px` to ensure proper sizing and vertical alignment.
/// 
/// /// **IMPORTANT:** This value is used in calculations that rely on it being **REM units only**. Please provide
/// REM units only as entering any other unit types may have unexpected results or even potentially cause errors 
/// that results in the scss failing to load entirely.
/// 
/// @type Number - REM units only
$footer-hospitality-vpadding-rem: (1.875rem / 2) !default; // 30px

// ============================================================================================================
// =============== HOSPITALITY : EXPORT =======================================================================
// ============================================================================================================
@mixin bb-export-classes-hospitality() {

	// Body Modifiers: .has-hospitality

	// block
	.hospitality {
		@include bb-size($width: 100%);
		text-align: center;
		padding: $footer-hospitality-vpadding-rem 0;
		background-color: $footer-hospitality-bg-color;
		@if $footer-hospitality-bg-image {
			@include bb-background-pattern-base($image: $footer-hospitality-bg-image);
		}
		
		// element: .hospitality__list
		&__list {
			@include clearfix;
			@include list-unstyled;
			margin-bottom: 0;	
		}

		// element: .hospitality__item
		&__item {
			$hospitality-item-height-rem: (bb-px-to-rem($footer-hospitality-height-px) - ($footer-hospitality-vpadding-rem * 2));
		
			@include bb-size($width: 50%, $height: $hospitality-item-height-rem);
			@include bb-gutters;
			line-height: $hospitality-item-height-rem;
			margin-bottom: 1rem;
			float: left;

			// immediate child
			& > a {
				@include bb-size($width: 100%, $height: 100%);
				@include bb-prefix-transition(opacity $btn-transition-duration $btn-transition-ease 0s);
				display: block;
				text-decoration: none;

				@include hover-focus-active() {
					text-decoration: none;
					opacity: 0.7;
				}
			}

			// child
			& img {
				@include bb-size($max-width: 100%, $max-height: 100%);
				display: inline-block;

			}

			&:only-child {
				@include bb-hmargins-auto;
				float: none;
			}
		}

		// breakpoints
		@include bb-mobi-breakpoint-up() {
			@include bb-position($position: absolute, $left: 0, $bottom: 0, $z-index: 0); // sticky
			display: table;
			table-layout: fixed;

			// element: .hospitality__list
			&__list {
				display: table-row;
			}

			// element: .hospitality__item
			&__item {
				@include bb-size($width: 100%);
				display: table-cell;
				float: none;

				// immediate child
				// IE11 Bugfix: height requires an explicit value (not a %)
				& > a {
					@include bb-size($height: inherit);
				}
			}
		}
	}
}