////
/// @group components-footer-mobi
/// @access public
//// 

// ============================================================================================================
// =============== MOBI FOOTER : VARS =========================================================================
// ============================================================================================================
/// Background color applied to the mobi footer. This is useful in situations where you are using hollow 
/// buttons and the body content shows through – which ultimately will make the button text difficult (or 
/// even impossible) to see.
/// @type Color
$mobi-footer-bg-color: null !default;

/// Applies a solid color inbetween multiple buttons in the mobi footer. When used together with 
/// `$mobi-footer-btn-gap-width`, this ensures that you don't see flickering body elements inbetween multiple 
/// buttons.
/// @type Color
$mobi-footer-btn-gap-color: #FFFFFF !default;

/// The size of the gap to place between multiple subsequent buttons in the mobi footer. When used together 
/// with `$mobi-footer-btn-gap-color`, this ensures that multiple buttons have some visual separation.
/// @type Number
$mobi-footer-btn-gap-width: 1px !default;

/// The z-index to apply to the mobi footer. You should not ever have to edit this value.
/// @access private
/// @type Number
$mobi-footer-z-index: 30 !default;

// ============================================================================================================
// =============== MOBI FOOTER : EXPORT =======================================================================
// ============================================================================================================
@mixin bb-export-classes-mobi-footer() {

	// Body Modifiers: .has-mobi-footer
	
	// =========== FOOTER : MOBI ==============================================================================
	// block
	.mobi-footer {
		@include bb-size($width: 100%);
		background-color: $mobi-footer-bg-color;
	
		// modifier: .mobi-footer.mobi-footer--sticky
		&#{&}--sticky {
			@include bb-position(
				$position: fixed, 
				$left: if($site-is-boxed, null, 0), 
				$right: if($site-is-boxed, null, 0), 
				$bottom: 0, 
				$z-index: $mobi-footer-z-index
			);
			@include bb-site-boxed-widths();
		}

		// element: .mobi-footer__list
		&__list {
			@include list-unstyled;
			margin-bottom: 0;
		}

		// element .mobi-footer__item
		&__item + &__item {
			border-top: $mobi-footer-btn-gap-width solid $mobi-footer-btn-gap-color; 
		}

		// breakpoints
		@include bb-mobi-breakpoint-up() {
			display: none;
		}

	}
}