////
/// @group components-social
/// @access public
//// 

// ============================================================================================================
// =============== SOCIAL ACCOUNTS : VARS =====================================================================
// ============================================================================================================
/// Width and height applied to `.social-accounts` icons. Please note, icons are intended to be displayed on 
/// top of a circle background, and therefore the width and height must match exactly.
/// @type Number
$social-accounts-size: 26px !default;

/// Font-size to apply to `.social-accounts` icons. Please note, we are using FontAwesome to provide our 
/// social icons, so the sizing is controlled via `font-size` instead of width and height.
/// @link http://fontawesome.io/icons/#brand
/// @type Number
$social-accounts-font-size: 1rem !default;

/// Color applied to `.social-accounts` icons. By default, we are using the background color of the 
/// header as the icon color.
/// 
/// @deprecated This variable now only effects the `.site-header-mobi .social-accounts` icon color. It is 
/// 	encouraged to use the more specific `$social-accounts-header-mobi-*` variables instead. However, this 
/// 	variable will continue to be available in order to preserve backwards compatibility on sites that are 
/// 	currently using it.
/// @type Color
$social-accounts-color: $site-header-bg-color !default;

/// Background color applied to the circle below the `.social-accounts` icons. By default, we are using the 
/// navigation color for the icon background color. Please note, if `$social-accounts-circle-icon` is set to 
/// `false`, this value will be ignored. Also, this value does not apply to social icons in the desktop header.
/// 
/// @deprecated This variable now only effects the `.site-header-mobi .social-accounts` circle background color. 
/// 	It is encouraged to use the more specific `$social-accounts-header-mobi-*` variables instead. However, 
/// 	this variable will continue to be available in order to preserve backwards compatibility on sites that 
/// 	are currently using it.
/// @type Color
$social-accounts-bg-color: $site-nav-btn-color !default;

/// Color applied to `.social-accounts` icons' `:hover` state. By default, we are not applying an icon color
/// change effect.
/// 
/// @deprecated This variable now only effects the `.site-header-mobi .social-accounts` icon's `:hover` state. 
/// 	It is encouraged to use the more specific `$social-accounts-header-mobi-*` variables instead. However, 
/// 	this variable will continue to be available in order to preserve backwards compatibility on sites that 
/// 	are currently using it.
/// @type Color
$social-accounts-active-color: $social-accounts-color !default;

/// Background color applied to the circle below the `.social-accounts` icons' `:hover` state. By default, we 
/// are using the navigation's `:hover` state as our `:hover` background color. Please note, if 
/// `$social-accounts-circle-icon` is set to `false`, this value will be ignored. Also, this value does not 
/// apply to social icons in the desktop header.
/// 
/// @deprecated This variable now only effects the `.site-header-mobi .social-accounts` circle background's 
/// 	`:hover` state. It is encouraged to use the more specific `$social-accounts-header-mobi-*` variables 
/// 	instead. However, this variable will continue to be available in order to preserve backwards 
/// 	compatibility on sites that are currently using it.
/// @type Color
$social-accounts-active-bg-color: $site-nav-btn-hover-color !default;

/// Horizontal margins applied between `.social-accounts` icons. Please note, this is the **total space** 
/// between two `.social-accounts` icons and will be **divided by 2** to calculate the individual `margin-left` 
/// and `margin-right` values.
/// @type Number
$social-accounts-hspacing: 4px !default;

/// Margin-bottom applied to `.social-accounts` icons. Please note, by default, `margin-top` is set to `0`.
/// @type Number
$social-accounts-vspacing: 0.5em !default;

/// Should we include a circle background behind each `.social-accounts` icon? If this value is set to `false`, 
/// no background classes will be exported and only the icon will be visible. Please note, this variable is 
/// used to globally control all the individual placements – desktop header, mobile header, desktop footer, etc. 
/// Please use the more specific `$social-accounts-*-circle-icon` variables to change individual placements 
/// without effecting the others.
/// @type Bool
$social-accounts-circle-icon: true !default;



/// Color applied to `.site-header-mobi .social-accounts` icons. Please note, the default value is only intended 
/// to preserve backwards-compatibility.
/// @type Color
$social-accounts-header-mobi-color: $social-accounts-color !default;

/// Color applied to `.site-header-mobi .social-accounts` circle background color. Please note, the default value 
/// is only intended to preserve backwards-compatibility.
/// @type Color
$social-accounts-header-mobi-bg-color: $social-accounts-bg-color !default;

/// Color applied to `.site-header-mobi .social-accounts` icons' `:hover` state. Please note, the default value is 
/// only intended to preserve backwards-compatibility.
/// @type Color
$social-accounts-header-mobi-active-color: $social-accounts-active-color !default;

/// Color applied to `.site-header-mobi .social-accounts` circle background color's `:hover` state. Please note, the 
/// default value is only intended to preserve backwards-compatibility.
/// @type Color
$social-accounts-header-mobi-active-bg-color: $social-accounts-active-bg-color !default;

/// Should we include a circle background behind each `.site-header-mobi .social-accounts` icon? If this value is set 
/// to `false`, no background classes will be exported and only the icon will be visible.
/// @type Bool
$social-accounts-header-mobi-circle-icon: $social-accounts-circle-icon !default;



/// Color applied to `.site-header-desktop .social-accounts` icons. By default, it will use/match the background color 
/// of the address bar.
/// @type Color
$social-accounts-header-desktop-color: $site-header-desktop-secondary-bg-color !default;

/// Color applied to `.site-header-desktop .social-accounts` circle background color. By default, it will use/match 
/// the address/location font color.
/// @type Color
$social-accounts-header-desktop-bg-color: $site-header-desktop-secondary-location-color !default;

/// Color applied to `.site-header-desktop .social-accounts` icons' `:hover` state. By default, the background color 
/// will remain constant, and use/match the background color of the address bar.
/// @type Color
$social-accounts-header-desktop-active-color: $site-header-desktop-secondary-bg-color !default;

/// Color applied to `.site-header-desktop .social-accounts` circle background color's `:hover` state. By default, 
/// it will use/match the address/locations font `:hover` color.
/// @type Color
$social-accounts-header-desktop-active-bg-color: $site-header-desktop-secondary-location-hover-color !default;

/// Should we include a circle background behind each `.site-header-desktop .social-accounts` icon? If this value is set 
/// to `false`, no background classes will be exported and only the icon will be visible.
/// @type Bool
$social-accounts-header-desktop-circle-icon: $social-accounts-circle-icon !default;



/// Color applied to `.site-footer-desktop .social-accounts` icons. By default, it will use/match the background color 
/// of the footer.
/// @type Color
$social-accounts-footer-desktop-color: $site-footer-desktop-primary-bg-color !default;

/// Color applied to `.site-footer-desktop .social-accounts` circle background color. By default, it will use/match 
/// the footer's navigation item font color.
/// @type Color
$social-accounts-footer-desktop-bg-color: $site-footer-desktop-nav-btn-color !default;

/// Color applied to `.site-footer-desktop .social-accounts` icons' `:hover` state. By default, the background color 
/// will remain constant, and use/match the background color footer.
/// @type Color
$social-accounts-footer-desktop-active-color: $site-footer-desktop-primary-bg-color !default;

/// Color applied to `.site-footer-desktop .social-accounts` circle background color's `:hover` state. By default, 
/// it will use/match the footer's navigation item font `:hover` color.
/// @type Color
$social-accounts-footer-desktop-active-bg-color: $site-footer-desktop-nav-btn-hover-color !default;

/// Should we include a circle background behind each `.site-footer-desktop .social-accounts` icon? If this value is set 
/// to `false`, no background classes will be exported and only the icon will be visible.
/// @type Bool
$social-accounts-footer-desktop-circle-icon: $social-accounts-circle-icon !default;



/// Color applied to `.popup--team .social-accounts` icons. By default, it will use/match the overlay's background color.
/// @type Color
$social-accounts-popup-team-color: $popup-overlay-color !default;

/// Color applied to `.popup--team .social-accounts` circle background color. By default, it will use/match the team 
/// popup's font color.
/// @type Color
$social-accounts-popup-team-bg-color: $popup-team-color !default;

/// Color applied to `.popup--team .social-accounts` icons' `:hover` state. By default, it will invert to use/match the 
/// team popup's font color.
/// @type Color
$social-accounts-popup-team-active-color: $popup-team-color !default;

/// Color applied to `.popup--team .social-accounts` circle background color's `:hover` state. By default, 
/// it will use/match the `.site-header-mobi .social-accounts` circle background color. The default value is only 
/// intended to preserve backwards compatibility.
/// @type Color
$social-accounts-popup-team-active-bg-color: $social-accounts-header-mobi-active-bg-color !default;

/// Should we include a circle background behind each `.popup--team .social-accounts` icon? If this value is set 
/// to `false`, no background classes will be exported and only the icon will be visible.
/// @type Bool
$social-accounts-popup-team-circle-icon: $social-accounts-circle-icon !default;


// ============================================================================================================
// =============== SOCIAL ACCOUNTS : EXPORT ===================================================================
// ============================================================================================================

@mixin bb-export-classes-social() {
	
	.social-accounts {
		@include bb-social-accounts;
		// Creates our default variant. Please note, this only applies to "mobile header" social accounts to 
		// maintain backwards compatibility. We could move this to be `.site-header-mobi > .social-accounts`, 
		// but that has the potential to break any Custom/Additional CSS that is specifically targeting this 
		// lower-level of specificity.
		@include bb-social-accounts-variant(
			$color:  $social-accounts-header-mobi-color,
			$bg-color: $social-accounts-header-mobi-bg-color,
			$active-color: $social-accounts-header-mobi-active-color,
			$active-bg-color: $social-accounts-header-mobi-active-bg-color,
			$is-circle-icon: $social-accounts-header-mobi-circle-icon
		);
	}
}