////
/// @group base-typography
/// @access public
//// 

// ============================================================================================================
// =============== TYPOGRAPHY : VARS ==========================================================================
// ============================================================================================================

/// Color to assign to `h1, .h1`. If not provided, it will use the Bootstrap default of `inherit`.
/// 
/// **Theme Option:** Type Styles > H1 Text Styles > Color
/// 
/// @type Color
$headings-h1-color: #000000 !default;

/// Font weight to assign to `h1, .h1`. If not provided, it will use the Bootstrap default of `500`. 
/// (ex: bold, normal, 500)
/// 
/// **Theme Option:** Type Styles > H1 Text Styles > Weight
/// 
/// @type String | Number
$headings-h1-weight: 700 !default;

/// A boolean value if `h1, .h1` should be transformed to uppercase letters.
/// (ex: true, false)
/// 
/// **Theme Option:** Type Styles > H1 Text Styles > Uppercase
/// 
/// @type Bool
$headings-h1-uppercase: null !default;

/// Letter spacing to assign to `h1, .h1`.
/// 
/// **Theme Option:** Type Styles > H1 Text Styles > Letter Spacing
/// 
/// @type Number
$headings-h1-letter-spacing: null !default;


/// Font family stack to apply to `h2, .h2`.
/// 
/// **Theme Option:** Type Styles > H2 Text Styles > Font Family
/// 
/// @type String
$headings-h2-font-family: null !default;

/// Color to assign to `h2, .h2`. If not provided, it will use the Bootstrap default of `inherit`.
/// 
/// **Theme Option:** Type Styles > H2 Text Styles > Color
/// 
/// @type Color
$headings-h2-color: $headings-h1-color !default;

/// Font weight to assign to `h2, .h2`. If not provided, it will use the Bootstrap default of `500`.
/// (ex: bold, normal, 500)
/// 
/// **Theme Option:** Type Styles > H2 Text Styles > Weight
/// 
/// @type String
$headings-h2-weight: $headings-h1-weight !default;

/// A boolean value if `h2, .h2` should be transformed to uppercase letters.
/// (ex: true, false)
/// 
/// **Theme Option:** Type Styles > H2 Text Styles > Uppercase
/// 
/// @type Bool
$headings-h2-uppercase: null !default;

/// Letter spacing to assign to `h2, .h2`.
/// 
/// **Theme Option:** Type Styles > H2 Text Styles > Letter Spacing
/// 
/// @type Number
$headings-h2-letter-spacing: null !default;


/// Font family stack to apply to `h3, .h3`.
/// 
/// **Theme Option:** Type Styles > H3 Text Styles > Font Family
/// 
/// @type String
$headings-h3-font-family: null !default;

/// Color to assign to `h3, .h3`. If not provided, it will use the Bootstrap default of `inherit`.
/// 
/// **Theme Option:** Type Styles > H3 Text Styles > Color
/// 
/// @type Color
$headings-h3-color: null !default;

/// Font weight to assign to `h3, .h3`. If not provided, it will use the Bootstrap default of `500`.
/// (ex: bold, normal, 500)
/// 
/// **Theme Option:** Type Styles > H3 Text Styles > Weight
/// 
/// @type String
$headings-h3-weight: $headings-h1-weight !default;

/// A boolean value if `h3, .h3` should be transformed to uppercase letters.
/// (ex: true, false)
/// 
/// **Theme Option:** Type Styles > H3 Text Styles > Uppercase
/// 
/// @type Bool
$headings-h3-uppercase: null !default;

/// Letter spacing to assign to `h3, .h3`.
/// 
/// **Theme Option:** Type Styles > H3 Text Styles > Letter Spacing
/// 
/// @type Number
$headings-h3-letter-spacing: null !default;


/// Sets a general uppercase boolean from `$headings-h1-uppercase` that will be applied to all other headings
/// `h2-h6` by default. This will be immediately overwritten for `h1-h3` if any Theme Options have been applied.
/// @type Bool
$headings-text-transform: $headings-h1-uppercase !default;

/// Sets a general `font-family` from `$headings-font-family` (which is assigned Theme Options and applied 
/// directly to `h1, .h1`) that will be applied to all other headings `h2-h6` by default. This will be 
/// immediately overwritten for `h2-h3` if any Theme Options have been applied.
/// @type String
$subheadings-font-family: $headings-font-family !default;

/// Sets a general `font-weight` from `$headings-font-weight` (which is assigned in Bootstrap) that will be 
/// applied to all other headings `h2-h6` by default. This will be immediately overwritten for `h2-h3` if any 
/// Theme Options have been applied.
/// (ex: bold, normal, 500)
/// @type String
$subheadings-font-weight: $headings-font-weight !default;

/// Sets a general `font-style` for `h2-h6`.
/// (ex: italic, normal)
/// @type String
$subheadings-font-style: normal !default;

/// Sets a general boolean uppercase `text-transform` from `$headings-text-transform` that will be applied to 
/// all other headings `h2-h6` by default. This will be immediately overwritten for `h2-h3` if any Theme Options 
/// have been applied.
/// @type Bool
$subheadings-text-transform: $headings-text-transform !default;

// ============================================================================================================
// =============== RESET : EXPORT =============================================================================
// ============================================================================================================
@mixin bb-export-classes-typography() {

	// These will inherit Bootstrap Variants and mimic the old theme options setup a little more closely, 
	// applying some default values to the group if more specific values aren't provided below.
	h2, h3, h4, h5, h6,
	.h2, .h3, .h4, .h5, .h6 {
		font-family: $subheadings-font-family;
		font-weight: $subheadings-font-weight;
		font-style: $subheadings-font-style;
		text-transform: $subheadings-text-transform;
	}

	h1, .h1 {
		color: $headings-h1-color;
		font-weight: $headings-h1-weight;
		text-transform: $headings-h1-uppercase;
		letter-spacing: $headings-h1-letter-spacing;
	}

	h2, .h2 {
		font-family: $headings-h2-font-family;
		color: $headings-h2-color;
		font-weight: $headings-h2-weight;
		text-transform: $headings-h2-uppercase;
		letter-spacing: $headings-h2-letter-spacing;
	}

	h3, .h3 {
		font-family: $headings-h3-font-family;
		color: $headings-h3-color;
		font-weight: $headings-h3-weight;
		text-transform: $headings-h3-uppercase;
		letter-spacing: $headings-h3-letter-spacing;
	}
}